body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}
#frame {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background-frame1.png);
  background-repeat: no-repeat, repeat;
  background-position:center;

}
