body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #3E758C;
}



/*** PHONE DISPLAY ***/
.phone {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  border: 2px solid white ;
  border-radius: 40px;
}
.phone__top{
  width: .8%;
  height: 30%;
  border: 1px solid white;
  border-radius: 5px;
}
.phone__bottom {
  width: 5%;
  height: 10%;
  border: 1px solid white;
  border-radius: 50%;
}



/*** FRAMES ***/
.frames--all {
  width: 80%;
  height: 98%;
  background-repeat: no-repeat, repeat;
  background-position:center;
  position: relative;
}
#frame1 {
  background-image: url(../images/frame1_background.jpg);
}
#frame2 {
  background-image: url(../images/frame2_background.png);
  display: none;
}
#frame3 {
  display: none;
  background-image: url(../images/frame2_background.png);
}



/*** BUTTONS ***/
#btn_play {
  position: absolute;
  width: 15%;
  top: 43%;
  left: 43%;
}
#btn__choice{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10%;
  top:10%;
}



/*** CHARACTERS ***/
#johnny1 {
  position: absolute;
  display: initial;
  bottom: 10%;
  left: 35%;
}
#lady1 {
  position: absolute;
  height: 40%;
  position: fixed;
  top: 40vh;
  left: 20vw;
  display: initial;
}
#johnny2{
  position: absolute;
  display: none;
  bottom: 10%;
  left: 35%;

}

/*** CLASS ANIMATIONS ***/
.screen_transition {
  animation: screen_transition .6s ease-out .5s forwards;
}
.anim-slide_in {
  animation: slide_in .2s ease-in-out forwards;
}
.anim-strip {
animation: strip .1s 5;
}



/*** KEYFRAMES ANIMATIONS ***/
@keyframes slide_in {
  0%{
      transform: translate(-500%);
    }
    100%{
        transform: translate(0%);
    }
}
@keyframes screen_transition {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY();
  }

}

  @keyframes strip {
    100%{
      transform: rotateY(360deg);
    }
  }
