body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #3E758C;
}

/*** PHONE DISPLAY ***/

.phone {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  border: 2px solid white;
  border-radius: 40px;
}

.phone__top {
  width: .8%;
  height: 30%;
  border: 1px solid white;
  border-radius: 5px;
}

.phone__bottom {
  width: 5%;
  height: 10%;
  border: 1px solid white;
  border-radius: 50%;
}

/*** TEXT ***/

.st0 {
  fill: #4D819B;
}

.st1 {
  fill: #CFECEF;
}

.st2 {
  fill: #0671B9;
  fill-opacity: 0;
  stroke: white;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  stroke-width: 1;
  animation: dash 3s linear forwards, fill_in 1s ease-in-out forwards 3s;
}

/*** FRAMES ***/

.frames--all {
  width: 80%;
  height: 98%;
  background-repeat: no-repeat, repeat;
  background-position: center;
  position: relative;
}

#frame1 {
  display: initial;
  background-color: #305C75;
}

#frame2 {
  background-image: url(../images/frame2_background.png);
  display: none;
}

#frame3 {
  display: none;
  background-image: url(../images/frame3_background_slap.gif);
}

#frame4 {
  display: none;
  background-image: url(../images/frame4_background.jpeg);
}

#frame5 {
  display: none;
  background-image: url(../images/frame1_background.png);
}



/*** BUTTONS ***/
#btn_play {
  position: absolute;
  width: 25%;
  top: 28%;
  left: 23%;
}
#btn_play:hover {
  animation: jumping .7s ease infinite;
}
#btn__choice {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10%;
  top: 10%;
}



/*** CHARACTERS ***/
#johnny1 {
  position: absolute;
  display: initial;
  bottom: 10%;
  left: 35%;
}
#lady1 {
  position: absolute;
  height: 40%;
  position: fixed;
  top: 40vh;
  left: 20vw;
  display: initial;
}
#johnny2 {
  position: absolute;
  display: none;
  bottom: 10%;
  left: 35%;
}
#johnny--musician {
  position: absolute;
}
#ladyboy {
  position: absolute;
}
#lady2 {
  position: absolute;
}
#musician {
  position: absolute;
}



/*** CLASS ANIMATIONS ***/
.screen_transition {
  animation: screen_transition .6s ease-out .5s forwards;
}
.anim-slide_in {
  animation: slide_in .2s ease-in-out forwards;
}
.anim-strip {
  animation: strip .1s 5;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}



/*** KEYFRAMES ANIMATIONS ***/
@keyframes fill_in {
  to { fill-opacity: 1; }
}
@keyframes run_in {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1);
  }
  3.2% {
    transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1);
  }
  6.41% {
    transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1);
  }
  9.61% {
    transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1);
  }
  12.71% {
    transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -31.997, 0, 0, 1);
  }
  12.81% {
    transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1);
  }
  18.92% {
    transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -1.766, 0, 0, 1);
  }
  19.22% {
    transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 2.88, 0, 0, 1);
  }
  25.63% {
    transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1);
  }
  31.43% {
    transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 1.99, 0, 0, 1);
  }
  56.46% {
    transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1);
  }
  65.67% {
    transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1);
  }
  81.48% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes jumping {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  5% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-50px);
  }
  70% {
    transform: scale(1.05, .95) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0px);
  }
}
@keyframes slide_in {
  0% {
    transform: translate(-500%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes screen_transition {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY();
  }
}
@keyframes strip {
  100% {
    transform: rotateY(360deg);
  }
}
