body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #3E758C;

}
.phone {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  border: 2px solid white ;
  border-radius: 40px;
}
.phone__top{
  width: .8%;
  height: 30%;
  border: 1px solid white;
  border-radius: 5px;
}
.phone__bottom {
  width: 5%;
  height: 10%;
  border: 1px solid white;
  border-radius: 50%;
}
#frame {
  width: 80%;
  height: 98%;
  background-image: url(../images/frame1_background.jpg);
  background-repeat: no-repeat, repeat;
  background-position:center;
  position: relative;

}



/*** BUTTONS ***/
#btn__choice--pickup,
#btn__choice--strip {
  width: 10%;
  border-radius: 30px;
  padding: 10px;
  display: none;
}
#btn_play {
  position: fixed;
  width: 15%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}



/*** CHARACTERS ***/

#johnny1 {
  position: fixed;
  animation: slide_in .2s ease-in-out forwards;
  display: none;
}
#lady1 {
  position: fixed;
  height: 40%;
  position: fixed;
  top: 40vh;
  left: 20vw;
  display: none;
}



/*** ANIMATIONS ***/

  @keyframes slide_in {
  0%{
      transform: translate(-70%, 30%);
    }
    100%{
        transform: translate(120%, 30%);

      }
}
